@using BlogSystem.Web.Areas.Posts.Models
@model MyPostViewModel

<div class="col-lg-12">
    @*<span class="label label-default">Id: @post.Id</span>*@
    <h2 class="media-heading">@Model.Title</h2>
    <h4 class="media-body">@Model.Content</h4>
    <span class="label label-primary">@Model.Category</span>
    <span class="label label-info">@Model.DateTimePosted</span>
</div>

