@using BlogSystem.Web.Areas.Messages.Models
@using BlogSystem.Web.Helpers
@using Microsoft.AspNet.Identity

@model MessageViewModel

<div class="well well-sm">
    @{
        var userName = this.User.Identity.Name;
        var participantName = userName != @Model.Sender ? @Model.Sender : @Model.Receiver;
        var participantPicUrl = userName != @Model.Sender ? @Model.SenderPictureUrl : @Model.ReceiverPictureUrl;

        var href = "/Home/UserInfo?username=" + participantName;
    }
    @if (@Model.UnreadMessagesCount > 0)
    {
        <span class="glyphicon glyphicon-bell largerGlyphicon counterIcon"></span>@:(@Model.UnreadMessagesCount)
    }
    <a href="@href">
        <img src="@Url.Content(participantPicUrl)" class="img-rounded img-responsive profilePic" title="@participantName" alt="picture">
    </a>

    <span class="label label-primary">@Model.SendOn</span>

    @{
        var sender = @Model.Sender;
        var displayMessage = sender + " wrote: " + @Model.Content;
    }
    @if (@Model.Sender == userName)
    {
        sender = "You";
        displayMessage = sender + " wrote: " + @Model.Content;
    }

    @Ajax.ActionLink(@displayMessage, "ViewFullConversation", new { userName = @participantName, area = "Messages" },
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "modalContentElement",
            LoadingElementId = "modalLoadingElement",
            OnComplete = "$('#globalPrivateMessages').trigger('refreshMessagesEvent', ['" + this.User.Identity.Name + "']);",
            HttpMethod = "Get",
        },
        htmlAttributes: new { Title = "View Full Conversation" })
    @Ajax.RawActionLink("<span class='smallMessageCounter badge'></span>", "SendMessage", "Home", new { userName = @participantName, area = "Messages" },
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "modalContentElement",
            LoadingElementId = "modalLoadingElement",
            OnBegin = "$('#modalContentElement').empty()",
            HttpMethod = "Get",
        },
        htmlAttributes: new { @class = "glyphicon glyphicon-comment largerGlyphicon", Title = "Reply..." })
</div>