@using BlogSystem.Web.Areas.Posts.Models
@using BlogSystem.Web.Helpers
@using Microsoft.AspNet.Identity

@model CommentViewModel

@{
    var commentId = "comment" + @Model.Id;
    var deleteIconId = "delete" + @Model.Id;
    var editIconId = "edit" + @Model.Id;
    var contentId = "content" + @Model.Id;
    var likedId = "liked" + @Model.Id;
    var likeLoadingId = "likedLoading" + @Model.Id;
    var pagingUpdateTarget = "p" + @Model.PostId + "pc" + @Model.Id;
    var subCommentLoadId = "subCommentLoad" + @Model.Id;
    var replyForm = "replyForm" + @Model.Id;
    var replyLoadId = "replyLoad" + @Model.Id;
}

<div id="@commentId">
    <div class="media-left">
        <div>
            @if (User.Identity.IsAuthenticated)
            {
                var commentVotingId = "commentVoting" + @Model.Id;
                var feedBackMessageId = "feedbackMessage" + @Model.Id;
            }
        </div>
    </div>
    <div class="media-body">
        <div class="row">
            <div class="col-sm-12">
                @Ajax.ActionLink(" ", "VoteComment", "Home", new { id = @Model.Id, vote = true, area = "Likes" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "modalContentElement",
                            LoadingElementId = "modalLoadingElement",
                            OnBegin = "$('#modalContentElement').empty()",
                            HttpMethod = "Post",
                        },
                        htmlAttributes: new { @class = "glyphicon glyphicon-thumbs-up btn btn-sm btn-success", Title = "Vote Up", data_toggle = "modal", data_target = "#layoutModal" })
                @Ajax.ActionLink(" ", "VoteComment", "Home", new { id = @Model.Id, vote = false, area = "Likes" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "modalContentElement",
                            LoadingElementId = "modalLoadingElement",
                            OnBegin = "$('#modalContentElement').empty()",
                            HttpMethod = "Post",
                        },
                        htmlAttributes: new { @class = "glyphicon glyphicon-thumbs-down btn btn-sm btn-danger", Title = "Vote Down", data_toggle = "modal", data_target = "#layoutModal" })
                <span class="label label-info">@Model.UserName @Model.CreatedOn</span>
                @if (@Model.ModifiedOn != null)
                {
                    <span class="label label-warning">Edited @Model.ModifiedOn</span>
                }
                @{
                    var likesCountId = "likes" + @Model.Id;
                    var commentsCountId = "comments" + @Model.Id;
                    var labelClass = "label-success";
                }
                @if (@Model.Likes < 0)
                {
                    labelClass = "label-danger";
                }
                <span class="label @labelClass">Likes <span id="@likesCountId">@Model.Likes</span></span>

                @if (@Model.ReplyCommentsCount == 0)
                {
                    <span class="label label-info">
                        <span id="@commentsCountId">
                            Replies @Model.ReplyCommentsCount
                        </span>
                    </span>

                }
                else
                {
                    <span class="label label-info">
                        <span id="@commentsCountId">
                            @Ajax.ActionLink("Replies " + @Model.ReplyCommentsCount, "ViewComments", "Comments", new { PostId = @Model.PostId, ParentCommentId = @Model.Id, area = "Posts" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = @pagingUpdateTarget,
                            LoadingElementId = @subCommentLoadId,
                            HttpMethod = "Get",
                        },
                        new { Title = "View Replies" })
                        </span>
                    </span>
                }

                @if (User.Identity.IsAuthenticated && User.Identity.Name == @Model.UserName)
                {
                    @Ajax.RawActionLink("<span class='glyphicon glyphicon-remove' aria-hidden='true'></span>", "Delete", "Comments", new { id = @Model.Id, area = "Posts" },
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.ReplaceWith,
                    UpdateTargetId = @commentId,
                    LoadingElementId = @deleteIconId,
                    HttpMethod = "Delete",
                },
                new { Title = "Delete" })
                    @Ajax.RawActionLink("<span class='glyphicon glyphicon-edit' aria-hidden='true'></span>", "Update", "Comments", new { id = @Model.Id, area = "Posts" },
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = @contentId,
                    LoadingElementId = @editIconId,
                    HttpMethod = "Get",
                },
                new { Title = "Edit" })
                    <span id="@deleteIconId" class="label label-danger" style="display:none">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    </span>
                    <span id="@editIconId" class="label label-info" style="display:none">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    </span>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <span>
                        @Ajax.RawActionLink("<span class='glyphicon glyphicon-comment' aria-hidden='true'></span>", "CommentPost", "Comments", new { PostId = @Model.PostId, ParentCommentId = @Model.Id, area = "Posts" },
                        new AjaxOptions
                     {
                         InsertionMode = InsertionMode.Replace,
                         UpdateTargetId = "modalContentElement",
                         LoadingElementId = "modalLoadingElement",
                         OnBegin = "$('#modalContentElement').empty()",
                         HttpMethod = "Get",
                     },
                  new { Title = "Reply", data_toggle = "modal", data_target = "#layoutModal" })
                    </span>
                    @*@LoadingElementHelper.ProgressBar(id: @replyLoadId, width: 90, alertType: "info")*@
                }
                <div id="@contentId" class="well well-lg">@Model.Content CommentId: @Model.Id Post: @Model.PostId ParentComment: @Model.ParentCommentId</div>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div id="@replyForm">

            </div>
        }
        <div class="media" id="@pagingUpdateTarget">
        </div>
        @LoadingElementHelper.ProgressBar(id: @subCommentLoadId, width: 75, alertType: "info", maxValue: 10)
    </div>

    <div class="media">
        <div class="media-left">
        </div>
        <div class="media-body">
        </div>
    </div>
</div>