@using BlogSystem.Web.Areas.Posts.Models
@using BlogSystem.Web.Helpers
@using Microsoft.AspNet.Identity

@model CommentListViewModel

@{
    var commentId = "comment" + @Model.Id;
    var deleteIconId = "delete" + @Model.Id;
    var editIconId = "edit" + @Model.Id;
    var contetnId = "content" + @Model.Id;
    var likedId = "liked" + @Model.Id;
    var likeLoadingId = "likedLoading" + @Model.Id;
}

<div class="row" id="@commentId">
    @if (User.Identity.IsAuthenticated)
    {
        var commentVotingId = "commentVoting" + @Model.Id;
        var feedBackMessageId = "feedbackMessage" + @Model.Id;
        
        <div id="@feedBackMessageId"></div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-default btn-sm">
                @Ajax.ActionLink(" ", "VoteComment", "Home", new { id = @Model.Id, vote = true, area = "Likes" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = @feedBackMessageId,
                            LoadingElementId = @commentVotingId,
                            HttpMethod = "Post",
                        },
                        htmlAttributes: new { @class = "glyphicon glyphicon-thumbs-up", Title = "Vote Up" })
            </button>
            <button type="button" class="btn btn-default btn-sm">
                @Ajax.ActionLink(" ", "VoteComment", "Home", new { id = @Model.Id, vote = false, area = "Likes" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = @feedBackMessageId,
                            LoadingElementId = @commentVotingId,
                            HttpMethod = "Post",
                        },
                        htmlAttributes: new { @class = "glyphicon glyphicon-thumbs-down", Title = "Vote Down" })
            </button>
            @LoadingElementHelper.ProgressBar(id: @commentVotingId, width: 75, alertType: "info", maxValue: 10)
        </div>
    }
    <div class="col-sm-11">
        <span class="label label-info">@Model.UserName @Model.CreatedOn</span>
        @{
            var likesCountId = "likes" + @Model.Id;
            var commentsCountId = "comments" + @Model.Id;
            var labelClass = "label-success";
        }
        @if (@Model.Likes < 0)
        {
            labelClass = "label-danger";
        }
        <span class="label @labelClass">Likes <span id="@likesCountId">@Model.Likes</span></span>
        <span class="label label-info">
            @{
                var postCommentsId = "post" + @Model.Id;
            }
            <span id="@commentsCountId">
                Replies @Model.SubCommentsCount
            </span>
        </span>

        @if (User.Identity.IsAuthenticated && User.Identity.Name == @Model.UserName)
        {
            @Ajax.RawActionLink("<span class='glyphicon glyphicon-remove' aria-hidden='true'></span>", "Delete", "Comments", new { id = @Model.Id, area = "Posts" },
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.ReplaceWith,
                    UpdateTargetId = @commentId,
                    LoadingElementId = @deleteIconId,
                    HttpMethod = "Delete",
                },
                new { Title = "Delete" })
            @Ajax.RawActionLink("<span class='glyphicon glyphicon-edit' aria-hidden='true'></span>", "Update", "Comments", new { id = @Model.Id, area = "Posts" },
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = @contetnId,
                    LoadingElementId = @editIconId,
                    HttpMethod = "Get",
                },
                new { Title = "Edit" })
            <span id="@deleteIconId" class="label label-danger" style="display:none">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </span>
            <span id="@editIconId" class="label label-info" style="display:none">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
            </span>
        }
        <div id="@contetnId" class="well well-lg">@Model.Content</div>
    </div>
</div>