@using BlogSystem.Web.Areas.Posts.Models
@using BlogSystem.Web.Helpers
@using Microsoft.AspNet.Identity

@model MyPostViewModel
<p>
    <div class="col-lg-12" id="@Model.Id">
        <h2 class="media-heading">
            @Html.ActionLink(@Model.Title, "Post", "Home", new { id = @Model.Id, area = "Posts" }, htmlAttributes: null)
        </h2>
        <h4 class="media-body">@Model.Content</h4>
        @if (@Model.IsDeleted)
        {
            <span class="label label-danger">DELETED</span>
        }
        <span class="label label-primary">@Model.Category</span>
        <span class="label label-info">@Model.CreatedOn</span>
        <span class="label label-info">@Model.Info</span>

        @Html.Partial("_EditDeleteLinks", @Model.Id)
    </div>
</p>
