@using BlogSystem.Web.Areas.Posts.Models
@using Microsoft.AspNet.Identity
@using BlogSystem.Web.Helpers

@model PostViewModel

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        var postVotingId = "postVoting" + @Model.Id;
        var feedBackMessageId = "feedbackMessage" + @Model.Id;

        <div id="@feedBackMessageId"></div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-default btn-sm">
                @Ajax.ActionLink(" ", "VotePost", "Home", new { id = @Model.Id, vote = true, area = "Likes" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = @feedBackMessageId,
                            LoadingElementId = @postVotingId,
                            HttpMethod = "Post",
                        },
                        htmlAttributes: new { @class = "glyphicon glyphicon-thumbs-up", Title = "Vote Up" })
            </button>
            <button type="button" class="btn btn-default btn-sm">
                @Ajax.ActionLink(" ", "VotePost", "Home", new { id = @Model.Id, vote = false, area = "Likes" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = @feedBackMessageId,
                            LoadingElementId = @postVotingId,
                            HttpMethod = "Post",
                        },
                        htmlAttributes: new { @class = "glyphicon glyphicon-thumbs-down", Title = "Vote Down" })
            </button>
            @LoadingElementHelper.ProgressBar(id: @postVotingId, width: 75, alertType: "info", maxValue: 10)
        </div>
    }
    <div class="col-sm-11">
        <h2 class="media-heading">
            @Ajax.ActionLink(@Model.Title, "DisplayPost", "Home", new { id = @Model.Id, area = "Posts" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "displayedPost",
                            LoadingElementId = "loading",
                            HttpMethod = "Post",
                        },
                        new { Title = "Read Post" })
        </h2>
        <span class="label label-primary">@Model.Category</span>
        <span class="label label-success">@Model.Author</span>
        <span class="label label-info">@Model.CreatedOn</span>
        @{
            var likesCountId = "likes" + @Model.Id;
            var commentsCountId = "comments" + @Model.Id;
            var labelClass = "label-success";
        }
        @if (@Model.Likes < 0)
        {
            labelClass = "label-danger";
        }
        <span class="label @labelClass">Likes <span id="@likesCountId">@Model.Likes</span></span>
        @{
            var postCommentsId = "post" + @Model.Id;
        }
        @if (@Model.CommentsCount > 0)
        {
            <span class="label label-info">
                <span id="@commentsCountId">
                    @Ajax.ActionLink("Comments " + @Model.CommentsCount, "ViewComments", "Comments", new { Id = @Model.Id, area = "Posts" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "commentsListed",
                            LoadingElementId = @postCommentsId,
                            HttpMethod = "Get",
                        },
                        new { Title = "View Comments" })
                </span>
            </span>
        }
        else
        {
            <span class="label label-info">
                <span id="@commentsCountId">Comments @Model.CommentsCount</span>
            </span>
        }

        <h4 class="media-body">@Model.Content</h4>
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                @{
            var commentLinkIcon = "<span class='glyphicon glyphicon-comment' aria-hidden='true'></span>";
            if (@Model.CommentsCount == 0)
            {
                commentLinkIcon = "First one to comment..." + commentLinkIcon;
            }
                }

                @LoadingElementHelper.ProgressBar(id: "commenting", width: 90, alertType: "info")

                <div>
                    @Ajax.RawActionLink(commentLinkIcon, "GetCommentForm", "Comments", new { postId = @Model.Id, area = "Posts" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "commentForm",
                            LoadingElementId = "commenting",
                            HttpMethod = "Post",
                        },
                        new { Title = "Comment" })
                </div>
            </div>
        }
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div id="commentForm">

    </div>
}
@LoadingElementHelper.ProgressBar(id: @postCommentsId, width: 90, alertType: "info")
<ul class="media-list" id="commentsListed">    
</ul>