@using BlogSystem.Web.Areas.Posts.Models
@using Microsoft.AspNet.Identity
@using BlogSystem.Web.Helpers

@model PostViewModel

<div class="row">
    <div id="@Model.Id"></div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-sm-1">
            <button type="button" class="btn btn-default btn-sm">
                @Ajax.ActionLink(" ", "UpVoteById", "Home", new { id = @Model.Id, vote = "UP", area = "Likes" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = @Model.Id.ToString(),
                            LoadingElementId = "loading",
                            HttpMethod = "Post",
                        },
                        htmlAttributes: new { @class = "glyphicon glyphicon-thumbs-up" })
            </button>
            <button type="button" class="btn btn-default btn-sm">
                @Ajax.ActionLink(" ", "DownVoteById", "Home", new { id = @Model.Id, vote = "Down", area = "Likes" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = @Model.Id.ToString(),
                            LoadingElementId = "loading",
                            HttpMethod = "Post",
                        },
                        htmlAttributes: new { @class = "glyphicon glyphicon-thumbs-down" })
            </button>
        </div>
    }
    <div class="col-sm-11">
        <h2 class="media-heading">
            @Ajax.ActionLink(@Model.Title, "DisplayPost", "Home", new { id = @Model.Id, area = "Posts" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "displayedPost",
                            LoadingElementId = "loading",
                            HttpMethod = "Post",
                        })
        </h2>
        <span class="label label-primary">@Model.Category</span>
        <span class="label label-success">@Model.Author</span>
        <span class="label label-info">@Model.CreatedOn</span>
        @{
            var likesCountId = "likes" + @Model.Id;
            var commentsCountId = "comments" + @Model.Id;
            var labelClass = "label-success";
        }
        @if (@Model.Likes < 0)
        {
            labelClass = "label-danger";
        }
        <span class="label @labelClass">Likes <span id="@likesCountId">@Model.Likes</span></span>
        <span class="label label-info">
            @{
                var postCommentsId = "post" + @Model.Id;
            }
            <span id="@commentsCountId">
                @Ajax.ActionLink("Comments " + @Model.CommentsCount, "ViewComments", "Comments", new { postId = @Model.Id, area = "Posts" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = @Model.Id.ToString(),
                            LoadingElementId = postCommentsId,
                            HttpMethod = "Post",
                        })
            </span>
        </span>
        <h4 class="media-body">@Model.Content</h4>
        <div id="@postCommentsId">
            @{
                var commentLinkIcon = "<span class='glyphicon glyphicon-comment' aria-hidden='true'></span>";
                if (@Model.CommentsCount == 0)
                {
                    commentLinkIcon = "First one to comment..." + commentLinkIcon;
                }
            }
            @Ajax.RawActionLink(commentLinkIcon, "GetCommentForm", "Comments", new { id = @Model.Id, area = "Posts" },
                new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "commentForm",
                    LoadingElementId = "commenting",
                },
                null)
        </div>
    </div>
</div>

<div class="progress" id="commenting" style="display: none;">
    <div class=" progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
        <span class="sr-only">100% Complete (danger)</span>
    </div>
</div>
<div id="commentForm">

</div>

@*<ul class="media-list">
        <li class="media">
            <div class="media-left">

            </div>
            <div class="media-body">
                <h4 class="media-heading">Media heading</h4>
                ...
            </div>
        </li>
        <li class="media">
            <div class="media-left">

            </div>
            <div class="media-body">
                <ul class="media-list">
                    <li class="media">
                        <div class="media-left">

                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            ...
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">

                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Media heading</h4>
                            ...
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>*@