@using BlogSystem.Web.Areas.Posts.Models
@using Microsoft.AspNet.Identity
@using BlogSystem.Web.Helpers

@model PostViewModel

@{
    var pagingUpdateTarget = "p" + @Model.Id + "pc";
    var commentFormId = "commentFormId";
    var commentLoadingId = "commentLoadingId";
}

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        var postVotingId = "postVoting" + @Model.Id;
        var feedBackMessageId = "feedbackMessage" + @Model.Id;

        <div id="@feedBackMessageId"></div>
        <div class="col-sm-1">
            <button type="button" class="btn btn-default btn-sm">
                @Ajax.ActionLink(" ", "VotePost", "Home", new { id = @Model.Id, vote = true, area = "Likes" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = @feedBackMessageId,
                            LoadingElementId = @postVotingId,
                            HttpMethod = "Post",
                        },
                        htmlAttributes: new { @class = "glyphicon glyphicon-thumbs-up", Title = "Vote Up" })
            </button>
            <button type="button" class="btn btn-default btn-sm">
                @Ajax.ActionLink(" ", "VotePost", "Home", new { id = @Model.Id, vote = false, area = "Likes" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = @feedBackMessageId,
                            LoadingElementId = @postVotingId,
                            HttpMethod = "Post",
                        },
                        htmlAttributes: new { @class = "glyphicon glyphicon-thumbs-down", Title = "Vote Down" })
            </button>
            @LoadingElementHelper.ProgressBar(id: @postVotingId, width: 75, alertType: "info", maxValue: 10)
        </div>
    }
    <div class="col-sm-11">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>
                    @Model.Title
                    @*@Ajax.ActionLink(@Model.Title, "DisplayPost", "Home", new { id = @Model.Id, area = "Posts" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "displayedPost",
                            LoadingElementId = "loading",
                            HttpMethod = "Post",
                        },
                        new { Title = "Read Post" })*@
                </h4>
            </div>

            <span class="label label-primary">@Model.Category</span>
            <span class="label label-success">@Model.Author</span>
            <span class="label label-info">@Model.CreatedOn</span>
            @{
                var likesCountId = "likes" + @Model.Id;
                var commentsCountId = "comments" + @Model.Id;
                var labelClass = "label-success";
            }
            @if (@Model.Likes < 0)
            {
                labelClass = "label-danger";
            }
            <span class="label @labelClass">Likes <span id="@likesCountId">@Model.Likes</span></span>
            @{
                var postCommentsId = "post" + @Model.Id;
            }
            @if (@Model.CommentsCount > 0)
            {
                <span class="label label-info">
                    <span id="@commentsCountId">
                        @Ajax.ActionLink("Comments " + @Model.CommentsCount, "ViewComments", "Comments", new { PostId = @Model.Id, area = "Posts" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = @pagingUpdateTarget,
                            LoadingElementId = @postCommentsId,
                            HttpMethod = "Get",
                        },
                        new { Title = "View Comments" })
                    </span>
                </span>
            }
            else
            {
                <span class="label label-info">
                    <span id="@commentsCountId">Comments @Model.CommentsCount</span>
                </span>
            }

            <div class="panel-body">
                <h5>@Model.Content</h5>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div>
                @{
            var commentLinkIcon = "<span class='glyphicon glyphicon-comment' aria-hidden='true'></span>";
            if (@Model.CommentsCount == 0)
            {
                commentLinkIcon = "First one to comment..." + commentLinkIcon;
            }
                }

                @LoadingElementHelper.ProgressBar(id: @commentLoadingId, width: 90, alertType: "info")

                <div>
                    @Ajax.RawActionLink(commentLinkIcon, "GetCommentForm", "Comments", new { PostId = @Model.Id, area = "Posts" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = @commentFormId,
                            LoadingElementId = @commentLoadingId,
                            HttpMethod = "Post",
                        },
                        new { Title = "Comment" })
                </div>
            </div>
        }
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    <div id="@commentFormId">

    </div>
}
@LoadingElementHelper.ProgressBar(id: @postCommentsId, width: 90, alertType: "info")

<ul class="media-list">
    <li class="media" id="@pagingUpdateTarget">
    </li>
</ul>