@using BlogSystem.Web.Areas.Posts.Models
@using BlogSystem.Web.Helpers

@model PostInputModel
<p>
    <div class="jumbotron">
        @using (Ajax.BeginForm("InsertPostForm", null,
            new AjaxOptions
            {
                UpdateTargetId = "postForm",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "loading",
                OnSuccess = "if($('.validation-summary-errors').length==0) { $('#newPostAlerts').trigger('refresh'); }",
                HttpMethod = "POST"
            },
            new { id = "insertPostForm", @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            // excludes properties errors
            @Html.ValidationSummary(true)

            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(post => post.Title, new { @class = "col-lg-1 control-label" })
                    <div class="col-lg-11">
                        @Html.EditorFor(post => post.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(post => post.Title, null, new { @class = "alert-warning" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(post => post.Content, new { @class = "col-lg-1 control-label" })
                    <div class="col-lg-11">
                        @Html.EditorFor(post => post.Content, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(post => post.Content, null, new { @class = "alert-warning" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(post => post.Category, new { @class = "col-lg-1 control-label" })
                    <div class="col-lg-11">
                        @Html.EnumDropDownListFor(post => post.Category, new { @class = "form-control" })
                        @Html.ValidationMessageFor(post => post.Category)
                    </div>
                </div>
            </div>

            <div class="row">
                @Html.Submit("Save", new { @class = "btn col-lg-1", id = "submitId" })
            </div>
        }
    </div>
</p>
@*@if (TempData["id"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Ajax.ActionLink("Post ", "DisplayPost", "Home", new { id = TempData["id"], area = "Posts" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "postForm",
                            LoadingElementId = "loading",
                            HttpMethod = "Get",
                        },
                            htmlAttributes: new { @class = "alert-link", Title = "View Post" })
        <span>added.</span>
    </div>

    <div data-dismiss="alert" class="alert alert-dismissable alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong>
            @Ajax.ActionLink("Post ", "DisplayPost", "Home", new { id = TempData["id"], area = "Posts" },
                        new AjaxOptions
                        {
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "postForm",
                            LoadingElementId = "loading",
                            HttpMethod = "Get",
                        },
                            htmlAttributes: new { @class = "alert-link", Title = "View Post" })
        </strong>
        <span>added.</span>
    </div>

    @TempDataHelpers.TempMessageLink("DisplayPost/" + TempData["id"], "Post added.")
}
else if (TempData["error"] != null)
{
    @TempDataHelpers.TempMessage(TempData["error"].ToString(), "danger")
}*@

@*<script>
    $(document).ready(function () {
        $.validator.unobtrusive.parse("#insertPostForm");
    });
</script>*@
