@using BlogSystem.Web.Areas.Posts.Models
@using BlogSystem.Web.Helpers

@model SearchInputModel

@{
    ViewBag.Title = "Posts Home Page";
}

<div id="displayedPost">

</div>

<div class="row">
    <p>
        @using (Ajax.BeginForm("Posts", null,
            new AjaxOptions
            {
                UpdateTargetId = "postsShown",
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "searchLoadingElement",
                HttpMethod = "GET"
            },
            new { @class = "form-horizontal", role = "search" }))
        {
            @*@Html.LabelFor(m => m.Category, new { @class = "control-label col-sm-1" })*@
            @Html.EnumDropDownListFor(m => m.Category, new { @class = "form-control col-sm-1" })
            @*@Html.LabelFor(m => m.SearchAuthor, new { @class = "control-label col-sm-1" })*@
            @Html.TextBoxFor(m => m.SearchAuthor, new { @class = "form-control col-sm-1", placeholder = "Author" })
            @*@Html.LabelFor(m => m.SearchContent, new { @class = "control-label col-sm-1" })*@
            @Html.TextBoxFor(m => m.SearchContent, new { @class = "form-control col-sm-1", placeholder = "Search" })
            @Html.Submit("Search", "btn btn-default col-sm-1")
            <button id="searchLoadingElement" type="button" class="btn btn-default btn-info progressBar" aria-label="Left Align">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        }
    </p>
</div>

<div class="row">
    <div class="col-sm-12" id="postsShown">
        @Html.Action("Posts", "Home", new { area = "Posts" })
    </div>
</div>
<div class="row">
    @LoadingElementHelper.ProgressBar(id: "statisticLoading", width: 90, alertType: "info")
    <div id="statistic"></div>
</div>

@LoadingElementHelper.ProgressBar(id: "loading", width: 90, alertType: "info")

@* CLIENT VALIDATION *@
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $("#statisticLoading").show();

            $.ajax({
                url: "Home/Statistic",
                context: document.body,
                success: function (data) {
                    $('#statistic').append(data);
                    $("#statisticLoading").hide();
                },
            });
        });
    </script>
}
