@using BlogSystem.Web.Areas.Posts.Models

@model IList<MyPostViewModel>

@{
    ViewBag.Title = "My Posts";
}

@foreach (var post in Model)
{
    <p>
        <div>Id: @post.Id</div>
        <div>Title: @post.Title</div>
        <div>Content: @post.Content</div>
        <div>Category: @post.Category</div>
        <div>DateTimePosted: @post.DateTimePosted</div>
    </p>
}


