<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Tests", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Posts", "Index", "Home", new { area = "Posts" }, htmlAttributes: null)</li>
                    <li>@Html.ActionLink("MyPosts", "MyPosts", "Home", new { area = "Posts" }, htmlAttributes: null)</li>
                    <li>@Html.ActionLink("Insert Post", "InsertPost", "Home", new { area = "Posts" }, htmlAttributes: null)</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @*<div>@Html.Action("Breadcrumbs")</div>*@
    <div class="container body-content">
        @LoadingElementHelper.ProgressBar(id: "mainLoadingElement", width: 90, alertType: "info")  
        <div id="content">
            @RenderBody()
        </div>
        @TempDataHelpers.ModalScreen("modalContentElement", "modalLoadingElement", "layoutModal")
        <hr />
        @Html.Action("ChatContent", "Home", new { area = "" })
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/signalR")
    @Scripts.Render("~/bundles/customSignalR")

    @*@Scripts.Render("~/bundles/jqueryval")*@

    @RenderSection("scripts", required: false)

    <!-- jQuery -->
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
    <!-- jQuery ScrollTo Plugin -->
    @*<script src="//balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script>
        <!-- History.js -->
        <script src="//browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>
        <!-- Ajaxify -->
        <script src="//rawgithub.com/browserstate/ajaxify/master/ajaxify-html5.js"></script>*@
</body>
</html>
