@{
    ViewBag.Title = "About";
}

<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li class="active">About</li>
</ul>

<h2>@ViewBag.Title.</h2>
<h2>@ViewBag.Title.</h2>

<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<input type="text" name="asd"/>