@using BlogSystem.Web.ViewModels

@model UserInfoModel

@{
    ViewBag.Title = "UserInfo";
}

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            @if (@Model.ImageUrl != null)
            {
                <img src="@(Model.ImageUrl)" alt="picture" />
            }
            else
            {
                <h3>User has no picture.</h3>
            }
            <div class="caption">
                <h3>@Model.UserName</h3>
                <p><a href="#" class="btn btn-primary" role="button">Add as friend</a></p>
            </div>

            @if (this.User.Identity.Name != @Model.UserName) { 
                @Ajax.RawActionLink("<span class='smallMessageCounter badge'></span>", "SendMessage", "Home", new { userName = @Model.UserName, area = "Messages" },
                            new AjaxOptions
                            {
                                InsertionMode = InsertionMode.Replace,
                                UpdateTargetId = "modalContentElement",
                                LoadingElementId = "modalLoadingElement",
                                OnBegin = "$('#modalContentElement').empty()",
                                HttpMethod = "Get",
                            },
                            htmlAttributes: new { @class = "glyphicon glyphicon-comment largerGlyphicon", Title = "Send message.", data_toggle = "modal", data_target = "#layoutModal" })
            }
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
