@using BlogSystem.Web.Areas.Posts.Models
@using BlogSystem.Web.Helpers

@model CommentUpdateModel

@using (Ajax.BeginForm("Update", "Comments", new { area = "Posts" },
            new AjaxOptions
            {
                UpdateTargetId = "content" + @Model.Id,
                InsertionMode = InsertionMode.Replace,
                LoadingElementId = "edit" + @Model.Id,
                HttpMethod = "PUT"
            },
            new { id = "commentPostForm" }))
{
    @Html.AntiForgeryToken()

    // excludes properties errors
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.HiddenFor(comment => comment.PostId)
        <div>
            @Html.TextAreaFor(comment => comment.Content, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(post => post.Content, null, new { @class = "alert-warning" })
        </div>
        <div>
            @Html.Submit("Save", new { @class = "btn" })
        </div>
    </div>
}