@using System.Web.Mvc.Ajax
@using BlogSystem.Web.Helpers

@helper TempMessage(string message = "Success", string alertType = "success")
{
    <div data-dismiss="alert" class="alert alert-dismissable alert-@alertType">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <strong><a href="#" class="alert-link">@message</a></strong>
    </div>
}

@helper TempMessageLink(string link, string message = "Success", string alertType = "success")
{
    <div class="alert alert-@alertType alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <a href="@link" class="alert-link">@message</a>
    </div>
}

@helper ModalScreen(string contentId, string loadingElementId, string modalId, string size = "lg") 
{
    <div id="@modalId" class="modal fade bs-example-modal-@size" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-@size">
            <div id="@contentId"></div>
            @LoadingElementHelper.ProgressBar(id: @loadingElementId, width: 75, alertType: "info", maxValue: 10)
        </div>
    </div>
}

@*@helper FormModal(string contentId, string loadingElementId, string modalId, string size = "sm")
{
    <div id="@modalId" class="modal fade bs-example-modal-@size" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-@size">
            <div class="modal-content">
                <div id="@contentId">
                </div>
                @LoadingElementHelper.ProgressBar(id: @loadingElementId, width: 75, alertType: "info", maxValue: 10)
            </div>
        </div>
    </div>
}*@
